# Docker
Dockerfile
.docker/
docker-compose.override.yml
docker-compose.debug.yml
docker-compose.local.yml
.dockerignore
.env.docker
*.pid
*.tar
# Ignore Docker YAML files
docker-compose.yml
docker-compose.override.yml
docker-compose.debug.yml
docker-compose.local.yml
# Avoid committing Docker volumes or build cache
**/data/
**/volume/
**/cache/

# Logs
logs/
*.log

# OS/System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml
*.swp
*.swo
*.swn
*.bak
